adafruit-ampy
altair
annotated-types
anyio
asttokens
attrs
autopep8
backcall
beautifulsoup4
bitarray
bitstring
black
bleach
blinker
build
CacheControl
cachetools
certifi
cffi
charset-normalizer
cleo
click
colorama
comm
contourpy
coverage
crashtest
cryptography
cycler
debugpy
decorator
defusedxml
distlib
docopt
dulwich
esptool
executing
fastjsonschema
filelock
findpython
Flask
flask-cors
fonttools
gitdb
GitPython
greenlet
h11
httpcore
httpx
idna
iniconfig
installer
intelhex
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
keyring
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
more-itertools
MouseInfo
msgpack
mypy_extensions
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
numpy
opencv-python
packaging
paho-mqtt
pandas
pandocfilters
parso
pathspec
pbs-installer
pickleshare
pillow
pipreqs
pkginfo
platformdirs
playwright
pluggy
poetry
poetry-core
prompt_toolkit
protobuf
psutil
psycopg2
pure_eval
pyarrow
PyAutoGUI
pycodestyle
pycparser
pydantic
pydantic_core
pydeck
pyee
PyGetWindow
Pygments
PyMsgBox
pyparsing
pyperclip
pyproject_hooks
PyQt5
PyQt5-Qt5
PyQt5_sip
PyQt6
PyQt6-Qt6
PyQt6_sip
PyRect
PyScreeze
pyserial
pytest
pytest-cov
python-dateutil
python-dotenv
python-qt5
pytokens
pytweening
pytz
pywin32
pywin32-ctypes
PyYAML
pyzmq
RapidFuzz
reedsolo
referencing
requests
requests-toolbelt
rich
rich-click
rpds-py
scipy
shellingham
six
smmap
sniffio
soupsieve
stack-data
streamlit
tenacity
tinycss2
toml
tomlkit
tornado
traitlets
trove-classifiers
typing-inspection
typing_extensions
tzdata
urllib3
virtualenv
watchdog
wcwidth
webencodings
Werkzeug
yarg
zstandard
